body {
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  background-color: rgb(136, 161, 165);
}

#main {
  max-width: 720px;
  margin: 0 auto;
}

#div-title {
  text-align: center;
}

#div-title h1 {
  font-size: 2em;
}

#survey-form {
  background-color: #7a8da8;
  border-radius: 10px;
  font-size: 1.1em;
}

.input-div {
  width: 90%;
  margin: 0 auto;
  padding-top: 20px;
}

.input {
  width: 100%;
  margin-top: 10px;
  border-radius: 5px;
  padding-top: 5px;
  line-height: 25px;
}

.radio {
  display: flex;
  flex-direction: column;
}

#radio-checkbox {
  padding-top: 15px;
}

#textarea {
  max-width: 100%;
}

#submit {
  margin-bottom: 30px;
  background-color: #41dd56;
  border: none;
}
